.bag-btn{
  background-color: rgb(113, 248, 113);
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  }
  .wish-list{
  padding: 2px 30px;
  border: 2px solid black;
  border-radius: 5px;
  }